In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path= r"c:\users\harip\Instacart basket analysis"

In [3]:
#Importing products_checked
df_prods= pd.read_csv(os.path.join(path,'02 Data','Prepared Data','products_checked.csv'), index_col= 0)

# Importing from pickle

In [4]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Checking for the output

In [5]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [6]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# Checking for the shape

In [7]:
df_prods.shape

(49672, 5)

In [8]:
df_ords_prods_combined.shape

(32434489, 10)

# Merging the data

In [9]:
# Dropping the _merge from the combined data as there is an error occuring
df_ords_prods_combined = df_ords_prods_combined.drop(columns= ['_merge'])

In [10]:
df_merged= df_prods.merge(df_ords_prods_combined, on = 'product_id' , indicator = True)

In [11]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,orders_timing_in_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [12]:
df_merged['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
df_merged.shape

(32404859, 14)

# Exporting the file

In [14]:
# Export data to pkl

df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))